body {
  font-family: arial, verdana, sans-serif;
}


/*---------------------------------- 
  Together
------------------------------------*/

/*Give the h1 a red background, some padding, and a black border.*/
h1 {
	background-color: red;
	padding: 20px;
	border: 3px solid #000000;
}

/*Give every p a blue background, white text, some padding, and a black border. */
p {
	background-color: blue;
	color: white;
	padding: 20px;
	border: solid 2px #000000;
}

/*Give every code element a white background, black text, and a thin border.*/

* {
	background-color: white;
	color: black;
	border: 2px solid black;
}


/*---------------------------------- 
  Now you try!
------------------------------------*/

/* Give every h2 a yellow background, black text, some padding, and a thick border */

h2 {
	background-color: yellow;
	color: black;
	padding: 20px;
	border: solid 10px orange;
}



/*Give every li a green background, white text, some padding, and a thin red border.*/

li {
	background-color: green;
	color: white;
	padding: 20px;
	border: 2px red solid;
}


